 {% extends 'layout/base.html' %} {% block content %}

<main role="main" class="inner cover">
    <img id="animation404" src="{{url_for('static', filename='animations/hide-and-seek.gif')}}" alt="hide and seek robot" />
    <h1 class="cover-heading">Occurred a 404 error has</h1>
    <p class="lead">A disturbance in the force I sense. The dark side clouds everything.Impossible to see the page is </p>
    <p class="lead">
        <a href="{{ url_for('home_page') }}" class="btn btn-lg btn-secondary">Go back Home</a>
    </p>
</main>

{% endblock content %}