{% extends 'layout/base.html' %} {% block content %}

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2>My name is Patrycja and your visiting my portfolio website.</h2>
                <hr>
            </div>

            <div class="col-lg-4 col-md-12">
                <h1>About me</h1>
                <p>I am a student of CodeInstitute and I am future Full-Stack Software developer.</p>
                <p>Although I am still learnig I've been hired already as a Front-End developer currently at Learning Pool</p>
            </div>

            <div class="col-lg-8 col-md-12">
                <img src="/static/img/patrycja.PNG" class="img-responsive" alt="About">
            </div>



            <div class="clearfix"></div>

            <hr>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>



        </div>

    </div>
    </div>
</section>
{% endblock %}