{% extends 'layout/base.html' %} {% block content %}

<section id="about">
    <div class="container">
        <div class="row">

            <div class="offset-md-1 col-lg-10 col-md-12">
                <div class="section-title">
                    <h3>About me</h3>
                    <h2>My name is Patrycja and your visiting my portfolio website. I am having some coding skills, but if you think that I have even more, you can always add them in Skills tab
                    </h2>
                </div>

                <div class="col-lg-4 col-md-12">
                    <h1>Patrycja.io</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>

                <div class="clearfix"></div>

                <hr>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>



            </div>

        </div>
    </div>
</section>
{% endblock %}