{% extends 'layout/base.html' %} {% block content %}

<main class="content">
    }

    <div id="my-account-wrapper" class="container">
        <div class="row">
            <div class="col-12">
                <h1>Admin panel</h1>
                <hr>
            </div>
            <div class="col-6">
                <h2>Add a new project</h2>
                <hr>
            </div>
            <div class="col-6">
                <h2>My projects</h2>
                <hr>
            </div>

            <div class="col-sm-6 card">

                <form id="add_new" action="{{url_for('add_project')}}" onSubmit="alert('New project added succesfully');" method='POST'>

                    <input type="text" id="project_name" name="project_name" class="form-control mb-4" placeholder="Project Title" required>

                    <input type="text" id="for_who" name="for_who" class="form-control mb-4" placeholder="Client Name" required>

                    <input type="number" min="1" step="any" id="year_of_submission" name="year_of_submission" class="form-control mb-4" placeholder="When finished?" required>

                    <input type="text" id="url" name="url" class="form-control mb-4" placeholder="Add Image URL" value="" required>

                    <div class="form-group green-border-focus label">
                        <textarea class="form-control" id="description" name='description' placeholder="Add description" rows="3" required></textarea>
                    </div>

                    <button class="btn btn-outline-dark" type="submit">Add</button>
                    <hr>

                </form>
            </div>
        </div>
    </div>


    <div class="row">


    </div>
    </div>




    {% endblock %}