{% extends 'layout/base.html' %} {% block content %}

<section class="content">

    <div id="my-account-wrapper" class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Admin panel</h2>
                <hr> {% if session['email'] != None %}
                <i>You are logged in as:</i>
                <h4 class="m-0">{{ session['email'] }}</h4>
                {% endif %}
                <hr>
            </div>
            <div class="col-6">
                <h2>Add a new project</h2>
                <hr>
                <form method="POST" id="add_new" action="{{url_for('insert_project')}}" onSubmit="alert('New project added succesfully');">

                    <input value="{{session.email}}" id="email" name="email" type="text" class="form-control mb-4" required>

                    <input type="text" id="project_name" name="project_name" class="form-control mb-4" placeholder="Project Title" required>

                    <input type="text" id="for_who" name="for_who" class="form-control mb-4" placeholder="Client Name" required>

                    <input type="number" min="2015" min="2025" step="any" id="year_of_submission" name="year_of_submission" class="form-control mb-4" placeholder="When finished?" required>

                    <input type="text" id="url" name="URL" class="form-control mb-4" placeholder="Add Image URL (400x400px)" value="" required>

                    <input type="text" id="url_big" name="url_big" class="form-control mb-4" value="" placeholder="Big project image URL">

                    <input type="text" id="url_source" name="url_source" class="form-control mb-4" value="" placeholder=" Url to real project">
                    <div class="form-group green-border-focus label">
                        <textarea class="form-control" id="description" name='description' placeholder="Add short description" rows="3" required></textarea>
                    </div>
                    <div class="col-md-3 col-sm-4 text-center">

                        <input type="submit" class="form-control btn" value="Add">
                    </div>

                    <hr>

                </form>
            </div>

            <div class="col-6">


                <h2>My projects</h2>


                <div style="overflow-x:auto;">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Poject</th>
                                <th scope="col">View</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>

                                <td>{{project.project_name}}</td>
                                <td><a href="{{ url_for('project_view', project_id=project._id) }}"><button type="button" class="btn btn-outline-info" ><i class="fas fa-search"></i></button></a></td>
                                <td><a href="{{ url_for('edit_project', project_id=project._id) }}"><button type="button" class="btn btn-outline-warning" ><i class="fas fa-edit"></i></button></a></td>
                                <td><a href="{{ url_for('delete_project', project_id=project._id) }}"><button type="button" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></button></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    </div>
</section>

{% endblock %}