{% extends 'layout/base.html' %} {% block content %}

<section id="contact">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12">
                <h2>Get in touch</h2>
                <hr>
            </div>

            <form action="#" method="post">
                <div class="col-lg-6 col-md-6">
                    <input type="text" class="form-control" placeholder="Name" required/>
                </div>

                <div class="col-lg-6 col-md-6">
                    <input type="email" class="form-control" placeholder="E-mail" required/>
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="telephone" class="form-control" placeholder="Phone Number (optional)">
                </div>

                <div class="col-lg-12 col-md-12">
                    <textarea class="form-control" rows="7" placeholder="Type your message here" required></textarea>
                </div>

                <div class="col-md-3 col-sm-4">
                    <input class="form-control" type="submit">
                </div>
            </form>
        </div>
    </div>
    </div>
</section>

{% endblock %}