{% extends 'layout/base.html' %} {% block content %}

<div class="row justify-content-center">
    <div class="col-md-6 ">
        <form class="text-center border border-light p-5" action="{{ url_for('update', project_id=project._id) }}" method='POST'>
            <h2 class="mb-4">Edit project "{{project.project_name}} "</h2>
            <input type="text" id="email" name="email" class="form-control mb-4" placeholder="Project Title" value="{{project.email}}">
            <input type="text" id="project_name" name="project_name" class="form-control mb-4" placeholder="Project Title" value="{{project.project_name}}">
            <input type="text" id="for_who" name="for_who" class="form-control mb-4" placeholder="For who" value="{{project.for_who}}">
            <input type="number" id="year_of_submission" name="year_of_submission" class="form-control mb-4" value="{{project.year_of_submission}}" placeholder="When finished?">
            <input type="text" id="url" name="url" class="form-control mb-4" value="{{project.url}}" placeholder="Card image URL">
            <input type="text" id="url" name="url" class="form-control mb-4" value="{{project.url_big}}" placeholder="Big project image URL">
            <input type="text" id="url" name="url" class="form-control mb-4" value="{{project.url_source}}" placeholder="Url to real project">

            <div class="form-group green-border-focus">
                <textarea class="form-control" id="description" name='description' rows="3" placeholder="Add short description" s thnjk78i45 r value="{{project.description}}"></textarea>
            </div>
            <div class="col-md-4 offset-md-4">
                <input type="submit" class="form-control btn" value="Update">
            </div>
            <hr>


        </form>
        {% if session['email'] %}
        <div class="col-md-12 col-sm-12 text-center">
            <a href="{{ url_for('admin')}}"> Go back to admin page</a>
        </div>
        {% endif %}
    </div>
</div>











{% endblock %}