{% extends 'layout/base.html' %} {% block content %}

<section>
    <div id="add-edit-portfolio-wrapper" class="container">
        <div class="row p-2 justify-content-center">
            <form id="editorForm" method=POST>
                <div class="col-12">
                    <h1>
                        {% if editor == 'new' %}Add New {% elif editor == 'edit' %}Edit {% endif %}
                    </h1>
                    <hr>
                </div>

                <div class="col-12">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <h3>Title of the project</h3>
                            <input id="title" name="title" class="form-control full-width" type="text" maxlength="50" placeholder="Title for new project name " value="{% if editor == 'edit' %}{{portfolio.title}}{% endif %}" required>
                        </div>
                        <div class="form-group col-12">
                            <h3>For who</h3>
                            <input id="for who" name="For who was made this project" class="form-control full-width" type="text" maxlength="50" placeholder="Title for new project name " value="{% if editor == 'edit' %}{{portfolio.brand}}{% endif %}" required>
                        </div>
                    </div>
                    <hr>
                    <div class="col-12">
                        <div class="form-group">
                            <h3>Image for minature*</h3>
                            <p>Please upload the photo for new project <a href="https://imgbb.com/" target="_blank" aria-label="ImgBB">ImgBB</a>) and paste the direct url for it here.</p>
                            <input id="imgUrl" name="imgUrl" class="form-control" type="url" maxlength="200" {% if editor=='edit' %}value="{{ imgUrl }}" {% endif %} placeholder="https://..." required>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>