{% extends 'layout/base.html' %} {% block content %}

<div class="row justify-content-center">
    <div class="col-md-6 ">
        <form class="text-center border border-light p-5" action="{{ url_for('update_project', project_id=project._id) }}" method='POST'>
            <p class="h4 mb-4">Edit project</p>
            <!-- Product Name -->
            <input type="text" id="project_name" name="project_name" class="form-control mb-4" placeholder="Project Title" value="{{project.for_who}}">
            <input type="text" id="project_name" name="project_name" class="form-control mb-4" placeholder="Project Title" value="{{project.project_name}}">
            <!-- Price -->
            <input type="number" min="1" step="any" id="#" name="price" class="form-control mb-4" value="{{project.year_of_submission}}" placeholder="When finished?">
            <input type="text" id="url" name="url" class="form-control mb-4" value="{{project.url}}" placeholder="Add Image URL">

            <div class="form-group green-border-focus">
                <textarea class="form-control" id="product_description" name='project_description' rows="3">{{project.project_description }}</textarea>
            </div>
            <!-- Sign up button -->
            <button class="btn my-4 btn-block" type="submit">Submit</button>
            <hr>
            <!-- Terms of service -->
        </form>
    </div>
</div>











{% endblock %}