{% extends 'layout/base.html' %}
<!-- index -->

{% block content %}

<!-- Home Section -->
<section id="home">
    <div class="container position-relative overflow-hidden text-center">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2>Hi, My name is Patrycja and I am a front-end developer.<br> And you are visiting my portfolio website </h2>
                <hr>
            </div>


            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <img src="/static/img/patrycja.PNG" class="img-responsive" alt="About">

                    <h3>About me</h3>
                    <p>I am a student of CodeInstitute and I am future Full-Stack Software developer.<br> Although I am still learnig I've been hired already as a Front-End developer currently at Learning Pool<br> I know that in this industry will never
                        stop learning new things and that why I love prpgramming</p>
                </div>
                <div class="clearfix"></div>
                <hr>
            </div>
        </div>
</section>

</div>
</div>
</section>




{% endblock %}