{% extends 'index.html' %} {% block head %}{% endblock} {% block body %} {% endblock}

<section class="hero-area">
    <div class="container" id="hero">
        <div class="row">
            <div class="col-12 col-lg-11 mx-lg-auto">
                <h1 class="display-4">Hi my name is Patrycja,
                    <br> And I am a software developer!</h1>
            </div>
            <a class="button" id="projects">
                <span class="away">add skills</span>
                <span class="over" href="/register">Register</span>
            </a>
        </div>
    </div>

</section>