{% extends 'layout/base.html' %}
<!-- index -->

{% block content %}

<!-- Home Section -->
<section id="home">
    <div class="container position-relative overflow-hidden text-center">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2>Hi, My name is Patrycja and I am a front-end developer.<br> Come on in to see my projects! </h2>
                <hr>
            </div>
            <div class="col-md-2 col-sm-5 offset-md-5 p-5">
                <input href="{{ url_for('portfolio')}}" type="submit" class="form-control" value="See more">
            </div>
        </div>
    </div>
</section>




{% endblock %}