{% extends 'layout/base.html' %} {% block content %} {% for project in projects %} {{ project.project_name }} {{ project.for_who}}{% endfor %}

<section id="portfolio">
    <div class="container">
        <div class="row">
            <!-- Portfolio Section 1 -->
            <div class="col-md-4 col-sm-6">
                <a href="">
                    <div class="portfolio-thumb">
                        <img src="/static/img/400px-Pomme.svg.png" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>{{ project.project_name }}</h3>
                                <span>{{project.for_who}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Portfolio Section 2-->
            <div class="col-md-4 col-sm-6">
                <a href="">
                    <div class="portfolio-thumb">
                        <img src="/static/img/400px-Pomme.svg.png" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>{{ project.project_name }}</h3>
                                <span>{{ project.for_who}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Portfolio Section 3 -->
            <div class="col-md-4 col-sm-6">
                <a href="">
                    <div class="portfolio-thumb">
                        <img src="/static/img/400px-Pomme.svg.png" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>{{ project.project_name }}</h3>
                                <span>{{ project.for_who}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Portfolio Section 4 -->
            <div class="col-md-4 col-sm-6">
                <a href="">
                    <div class="portfolio-thumb">
                        <img src="/static/img/400px-Pomme.svg.png" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>{{ project.project_name }}</h3>
                                <span>{{ project.for_who}}/span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Portfolio Section 5 -->
            <div class="col-md-4 col-sm-6">
                <a href="">
                    <div class="portfolio-thumb">
                        <img src="/static/img/400px-Pomme.svg.png" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>{{ project.project_name }}</h3>
                                <span>{{ project.for_who}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Portfolio Section 6 -->
            <div class="col-md-4 col-sm-6">
                <a href="">
                    <div class="portfolio-thumb">
                        <img src="/static/img/400px-Pomme.svg.png" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>{{ project.project_name }}</h3>
                                <span>{{ project.for_who}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
{% endfor %} {% endblock %}