{% extends 'layout/base.html' %} {% block content %}

<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2>This is just only few of my latest projects!<br>Soon you can see them more! <br>And more! </h2>
                <hr>
            </div>

        </div>
    </div>
</section>

<section id="portfolio">
    <div class="container">
        <div class="row">
            {% for project in projects %}
            <!-- Portfolio Section 1 -->
            <div class="col-md-4 col-sm-6">
                <a href="{{ url_for( 'presentation')}}">
                    <div class="portfolio-thumb">
                        <img src="/static/img/mockup.png" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>{{project.project_name}}</h3>
                                <span>{{project.for_who}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}

            <hr>
            <div class="col-md-12 col-sm-12 text-center">
                <h3>If you are interested working together. just send me the message <a href="{{ url_for( 'contact')}}">here</a></h3>
            </div>
        </div>
    </div>
</section>
{% endblock %}