{% extends 'layout/base.html' %} {% block content %}

<section id="portfolio">
    <div class="container">
        <div class="row">
            <!-- Portfolio Section 1 -->
            <div class="col-md-4 col-sm-6">
                <a href="">
                    <div class="portfolio-thumb">
                        <img src="/static/img/400px-Pomme.svg.png" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>Music Player</h3>
                                <span>patrycja.io</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Portfolio Section 2-->
            <div class="col-md-4 col-sm-6">
                <a href="">
                    <div class="portfolio-thumb">
                        <img src="/static/img/400px-Pomme.svg.png" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>Seat reservation</h3>
                                <span>patrycja.io</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Portfolio Section 3 -->
            <div class="col-md-4 col-sm-6">
                <a href="">
                    <div class="portfolio-thumb">
                        <img src="/static/img/400px-Pomme.svg.png" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>Asteroids</h3>
                                <span>patrycja.io for CodeInstitue</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Portfolio Section 4 -->
            <div class="col-md-4 col-sm-6">
                <a href="">
                    <div class="portfolio-thumb">
                        <img src="/static/img/400px-Pomme.svg.png" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>Martinez Studio</h3>
                                <span>patrycja.io for CodeInstitute</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Portfolio Section 5 -->
            <div class="col-md-4 col-sm-6">
                <a href="">
                    <div class="portfolio-thumb">
                        <img src="/static/img/400px-Pomme.svg.png" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>Satisfaction Survey</h3>
                                <span>patrycja.io for WCG</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Portfolio Section 6 -->
            <div class="col-md-4 col-sm-6">
                <a href="">
                    <div class="portfolio-thumb">
                        <img src="/static/img/400px-Pomme.svg.png" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>Project Name</h3>
                                <span>Brand Identity</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="button-add">
                <a href="{{ url_for( 'login')}} " class="btn">Add</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}