{% extends 'layout/base.html' %} {% block content %}

<section id="single-project">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 text-center">
                <h2>{{project.project_name}}</h2>
                <p>{{project.description}}</p>
                <a href="{{project.url_source}}"><i class="fa fa-long-arrow-right"></i> View Website</a>

                <div class="col-md-12 col-sm-12">
                    <img src="{{project.url_big}}" class="img-responsive" alt="Portfolio">
                </div>
                <div class="clearfix"></div>

                <div class="col-md-12 col-sm-12">
                    <h4>{{project.for_who}}</h4>
                </div>
                <div class="col-md-12 col-sm-12">
                    <h4>{{project.year_of_submission}}</h4>
                </div>
            </div>

            {% if session['email'] %}
            <div class="col-md-12 col-sm-12 text-center">
                <a href="{{ url_for('admin')}}" type="submit" class="form-control btn"> Go back to admin page</a>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}