{% extends 'layout/base.html' %} {% block content %}

<section id="single-project">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 text-center">
                <h2>{{project.project_name}}</h2>
                <h3>{{project.description}}</h3>


                <div class="col-md-12 col-sm-12">
                    <a href="{{project.url_source}}"></a>
                    <img src="{{project.url_big}}" class="img-responsive pb-4" alt="Portfolio">
                </div>
                <div class="clearfix"></div>

                <div class="col-md-6 col-sm-6">
                    <h4>{{project.for_who}}</h4>
                </div>
                <div class="col-md-6 col-sm-6">
                    <h4>{{project.year_of_submission}}</h4>
                </div>
                <a href="{{project.url_source}}"><i class="fas fa-arrow-right"></i> View Website</a>
            </div>

            <div class="col-md-12 col-sm-12 text-center">
                <a href="{{ url_for('see_projects')}}"> Go back to portfolio</a>
            </div>

            {% if session['email'] %}
            <div class="col-md-12 col-sm-12 text-center">
                <a href="{{ url_for('admin')}}"> Go back to admin page</a>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}