{% extends 'layout/base.html' %} {% block content %}


<div class="jumbotron" id="skills">
    <h1>Skills</h1>
    <div class="progress-holder" id="pswhole">
        <svg width="150px" height="150px">
         <circle class="progress-circle one" cx="60px" cy="60px" r="50"/>
         <circle class="progress-circle one fullchaser" id="ps" cx="60px" cy="60px" r="50"/>
        </svg>

    </div>

    <div class="progress-holder">
        <svg width="150px" height="150px">
         <circle class="progress-circle two" cx="60px" cy="60px" r="50"/>
         <circle class="progress-circle two halfchaser" cx="60px" cy="60px" r="50"/>
        </svg>

    </div>
    <div class="progress-holder">
        <svg width="150px" height="150px">
         <circle class="progress-circle two" cx="60px" cy="60px" r="50"/>
         <circle class="progress-circle two halfchaser" cx="60px" cy="60px" r="50"/>
        </svg>

    </div>
    <div class="progress-holder">
        <svg width="150px" height="150px">
         <circle class="progress-circle two" cx="60px" cy="60px" r="50"/>
         <circle class="progress-circle two halfchaser" cx="60px" cy="60px" r="50"/>
        </svg>

    </div>
    <div class="progress-holder">
        <svg width="150px" height="150px">
         <circle class="progress-circle two" cx="60px" cy="60px" r="50"/>
         <circle class="progress-circle two halfchaser" cx="60px" cy="60px" r="50"/>
        </svg>

    </div>
</div>
<a href="add.html" class="btn btn-secondary">Add</a> {% endblock %}