@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

/*--------------------------------------
    Typo             
-----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.5px;
}


/*---------------------------------------
    General               
-----------------------------------------*/

html {
    -webkit-font-smoothing: antialiased;
}

a {
    color: #4d638c;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
}

a:hover,
a:active,
a:focus {
    color: #4d638c;
    outline: none;
}


/*---------------------------------------
  Navbar             
-----------------------------------------*/

.navbar-default {
    background: #ffffff;
    padding: 18px 0;
    border: none;
    margin-top: 62px;
}

.navbar-default .navbar-brand {
    padding-top: 6px;
}

.navbar-default .navbar-brand .fa {
    color: #000;
    font-size: 42px;
}


/*---------------------------------------
   Portfolio section              
-----------------------------------------*/

#portfolio span {
    color: #f0f0f0;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}