<!DOCTYPE html>

<html lang="en">

<head>
    {% include 'links.html' %}
    <title>patrycja.io</title>
</head>

<body>
    {% block navbar %} {% endblock %} {% block hero %} {% endblock %} {% block skills %} {% endblock %}


    <div class="jumbotron" id="portfolio">

    </div>


    <div class="jumbotron" id="experience">

    </div>


    <footer>
        {% block footer %} {% endblock%}

    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>

</html>