{% block footer %}
<footer>
    <div class="container">
        <hr class="mt-2 mb-3" />

        <div class="row text-center" id="developer_icons">
            <div class="col"><i class="fab fa-html5 fa-5x"></i></div>
            <div class="col"><i class="fab fa-css3-alt fa-5x"></i></div>
            <div class="col"><i class="fab fa-js fa-5x"></i></div>
            <div class="col"><i class="fab fa-python fa-5x"></i></div>
        </div>

        <hr>

        <div class="row">

            <div class="col-md-3 col-sm-3">
            </div>

            <div class="col-md-4 col-sm-4">
                <p>Silicon Valley, Palo Alto, CA 3042 United States</p>
            </div>

            <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-3">
                <p><a href="mailto:hello@patrycja.io">hello@patrycja.io</a></p>
                <p>(+44) 2048937 / 02 203403</p>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="footer-copyright">
                    <p>© 2020 patrycja.io | All Rights Reserved.</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <ul class="social-icon">
                    <li>
                        <a href="#" class="fab fa-github"></a>
                    </li>
                    <li>
                        <a href="#" class="fab fa-twitter"></a>
                    </li>
                    <li>
                        <a href="#" class="fab fa-linkedin-in"></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>



{% endblock %}