 {% block navbar %}

<div class="navbar navbar-light navbar-static-top navbar-expand-md" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="{{url_for('home_page')}}">PATRYCJA.IO</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="navbar-collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="active nav-item">
                    <a href="{{ url_for('home_page')}}" class="nav-link {% if active == 'index' %}active{% endif %}">Home</a>
                </li>
                <li class="nav-item "><a href="{{ url_for( 'see_projects')}} " class="nav-link {% if active == 'portfolio' %}active{% endif %}">Portfolio</a>
                </li>
                {% if not session['email'] %}
                <li class="nav-item "><a href="{{ url_for( 'contact')}} " class="nav-link {% if active == 'contact' %}active{% endif %}">Contact</a>
                </li>
                {% endif %} {% if session['email'] %}
                <li class="nav-item "><a href="{{ url_for( 'logout')}} " class="nav-link {% if active == 'admin' %}active{% endif %}">Log out</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</div>
{% endblock %}